
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Bungee+Spice&family=Nabla&display=swap');

body {
    display: flex;
    flex-wrap: wrap;
  background-color: #000;
    min-height: 100vh;
    font: normal 16px sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

body .portada{
    width: 50%;
    margin: 5rem 0;
}
.contenedorPortada{
  display: flex;
  justify-content: center;
  width: 100%;
}

.container.gallery-container {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.06);
    text-align: center;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .cartita{
    width: 30%;
    margin: 1rem 1rem;
    background-color: #74dce0;
    color: #000;
}

.fotito {
    width: 50%;
    margin-bottom: 30px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.fotito:hover {
    transform: scale(2);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.formulario{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dos{
    width: 50%;
    color: #74dce0;
    border-radius: 20px;
    min-height: 30vh;
    background-color: #000;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.dos input{
    width: 100%;
    color: #000;
    line-height: 3rem;
    margin: 2rem 0;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.botoncito{
    width: 20%;
    background-color: #74dce0;
    color: #000000;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(255,255,255,0.3);
    margin: 1rem 0 2rem 0;
    font-weight: bold;
}

.btnCarga{
    width: 120%;
}
.botoncito:hover{
   background-color: #fff;
    color: #000;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.cartita{
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.creador{
  color: rgb(0, 0, 0);
  font-family: 'Almendra SC', serif;
  font-weight: bolder;
  font-size: 2.3rem;
}
.pie{
  margin-top: 1.5rem;
  text-align: center;
  color: #74dce0;
  font-weight: bolder;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
    body .portada{
        width: 100%;
        margin: 5rem 0;
    }

    .btnCarga, .btnForm{
        width: 100%;
    }
    .gallery-container{
        width: 100%;
        padding: 0;
    }
    .tz-gallery .cartita, .tz-gallery .dos{
        width: 100%;
        margin: 0;
    }

    .fotito{
        width: 70%;
    }

    .fotito:hover{
        transform: none;
    }
}